* {
    all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
    background-color: #1f1f28;
    color: #dcd7ba;
    padding: 5px;
    font-family: Iosevka Nerd Font;
    font-size: 15;
    font-weight: 800;
}

.sidestuff {
    color: #1f1f28;
}

.time {
    padding: 0px 10px;
    background-color: #7e9cd8;
    border-radius: 90px;
}

.sound {
    padding: 0px 10px;
    background-color: #7e9cd8;
    border-radius: 90px;
}

.wifi {
    padding: 0px 10px;
    background-color: #7e9cd8;
    border-radius: 90px;
}

.bluetooth {
    padding: 0px 10px;
    background-color: #7e9cd8;
    border-radius: 90px;
}

.workspaces button:hover {
    color: #dcd7ba;
}

.workspaces button {
    padding: 0px 10px;
    color: #dcd7ba;
    background-color: #1f1f28;
    border-radius: 90px;
}

.workspaces .exists {
    color: #1f1f28;
    background-color: #dcd7ba;
}
.workspaces .active {
    padding: 0px 20px;
    color: #1f1f28;
    background-color: #7e9cd8;
}

.power button {
    color: #7e9cd8;
}
